* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

html,
body {
  width: 100%;
  height: 100%;
}

canvas {
  display: block;
}

#particles-js {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(40deg, #505050 0%, #576a9c 100%);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.container {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: #ffffff;
  color: #4f5c63;
  width: 400px;
  border-radius: 5px;
}

.inner {
  text-align: center;
  padding: 20px 0px;
}

.divider {
  margin: 20px 0px;
}

a {
  color: #4f5c63;
  text-decoration: none;
  padding: 0px 5px;
}

i {
  font-size: 30px;
}

.subtext {
  font-weight: 300;
}

@media only screen and (max-width: 450px) {
  .card {
    width: 300px;
  }
}
